body {
    background-color: antiquewhite
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow
}

    .grid div {
        width: 20px;
        height: 20px;
        background-color: red
    }
